
// env colors
// ---------------------------------------------------------------------------------------------------------------------
@envinfo-bg-color-dev: #c2b4af;
@envinfo-bg-color-uat: #7b84ff;
@envinfo-bg-color-stage: #ffcc0e;
@envinfo-bg-color-prod: #ff6bb8;


#envinfo {
  position: fixed;
  display: none;
  left: 3%;
  top: 0;
  z-index: 56000;
  opacity: 0.6;
  border: 1px solid transparent;
  border-top: 0;
  background: white;
  padding: 5px 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif;

  &.dev {
    display: block;
    background: lighten(@envinfo-bg-color-dev,20%);
    border-color: darken(@envinfo-bg-color-dev,20%);
    color: darken(@envinfo-bg-color-dev,20%);
  }
  &.uat {
    display: block;
    background: lighten(@envinfo-bg-color-uat,20%);
    border-color: darken(@envinfo-bg-color-uat,20%);
    color: darken(@envinfo-bg-color-uat,30%);
  }
  &.stage {
    display: block;
    background: lighten(@envinfo-bg-color-stage,20%);
    border-color: darken(@envinfo-bg-color-stage,20%);
    color: darken(@envinfo-bg-color-stage,30%);
  }
  &.prod {
    display: none;
    background: lighten(@envinfo-bg-color-prod,20%);
    border-color: darken(@envinfo-bg-color-prod,20%);
    color: darken(@envinfo-bg-color-prod,30%);
  }

}